
/* BANER SECTION */

.baner{
    width: 1280px;
    height: 560px;
    display: flex;
    background-color: #C6E4D6;
    padding-bottom: 117px;
    border-radius: 24px;
}
.baner-content{
    width: 622px;
    height: 326px;
    padding-top: 117px;
    padding-right: 60px;
    padding-left: 59px;
}
.btn-dsign{
    width: 270px;
    height: 56px;
    font-size: 18px;
    font-weight: 600px;
    background-color: #006A50;
    color: aliceblue;
    border: none;
    border-radius: 8px;
}
.nation{
    font-size: 24px;
    font-weight: 500px;
    color: #0E0E0E;
    opacity: 50%;
}
.description{
    font-size: 54px;
    font-weight: 700px;
}
.baner img{
    width: 474px;
    height: 400px;
    padding-top: 80px;
    padding-right: 59.99px;
}

/* Planning for future bangladesh */
.title{
    font-size: 40px;
    font-weight: 700px;
}
.vision-container{
    display: flex;
    width: 100%;
    gap: 24px;
    padding-top: 40px;
}
.visions{
    width: 385px;
    padding-top: 32px;
    padding-bottom: 35px;
    border-radius: 16px;
}
.card1{
    background-color: #83a5df;
    padding-left: 32px;
}
.card2{
    background-color: #C6E4D6;
    padding-left: 32px;
}
.card3{
    background-color: #F7EBCF;
    padding-left: 32px;
}
.btn-color1{
    background-color: #5490F5;
    color: white;
    border-radius: 8px;
    border: none;
    width: 122px;
    height: 41px;
}
.btn-color2{
    background-color: #09A15C;
    color: white;
    border-radius: 8px;
    border: none;
    width: 122px;
    height: 41px;
}
.btn-color3{
    background-color: #FFC239;
    color: white;
    border-radius: 8px;
    border: none;
    width: 122px;
    height: 41px;
}